<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @conversion_populator.date %>
</p>
<p>
  <strong>Entries Added:</strong>
  <%= @entries_added %>
</p>

<%= link_to 'Back', new_conversion_populator_path %>
